<header>
    <nav>
        <a href="../index.ejs">Sortify</a>
        <div class="navlinks">
            <a href="../home.ejs">Home</a>
            <a href="../signin.ejs">Sign In</a>
        </div>
    </nav>
</header>