<header>
    <nav>
        <a href="/">Sortify</a>
        <div class="navlinks">
            <a href="/user">Home</a>
            <a href="/create-playlist">Create New Playlist</a>
            <a href="#" id="pending-changes-link" style="position: relative;">
                Pending Changes
                <span id="pending-changes-badge" class="badge hidden">0</span>
            </a>
        </div>
    </nav>
</header>
