<!-- Loading overlay -->
<div id="loading-overlay" class="loading-overlay hidden">
  <div style="text-align: center;">
    <div class="loading-spinner"></div>
    <div class="loading-text">Loading...</div>
    <div class="loading-warning">If this is a large playlist, this may take a while. Please be patient.</div>
  </div>
</div>
