/* General */
:root {
  --text: #FFFFFF;
  --bg: #121212;
  --bg-accent: #212121;
  --bg-light: #535353;
  --active: #1ED760;
  --inactive: #1DB954;
  --accent: #D71E95;
  --border-radius: 10px;
}

* {
  font-family: sans-serif;
  color: var(--text)
}

html, body, main {
  height: 100%;
}

main {
  margin: 3rem;
  flex-direction: column;
  gap: 2rem;
}

.window {
  border: 5px solid var(--active);
  background-color: var(--bg);
  border-radius: var(--border-radius);
  padding: 2rem;
}

.flex {
  display: flex;
}

/* Header */
/* Nav */

header {
  border-bottom: 5px solid var(--active);
  border-radius: var(--border-radius);
  position: sticky;
  top: 0; 
  /* TODO: Stops following after a certain distance, a little before where the unfinished footer text displats */ 
  /* TODO: Also, fix the footer */
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  padding: 1% 3%;
  margin: 0%;
}

nav a {
  text-decoration: none;
  color: var(--text);
}

nav a:hover {
  color: var(--active);
}

.navlinks {
  display: flex;
  flex-wrap: nowrap;
  gap: 10%;
  font-family: inherit;
}
.navlinks a {
  white-space: nowrap;
}

/* Footer */

/* Button */
.big-button {
  border: none;
  color: var(--text);
  border-radius: 50px;
  padding: 1rem;
  background-color: var(--inactive);
}

.big-button:hover {
  background-color: var(--active);
}

/* Listing (playlists, tracks, etc) */ 
.listing-list {
  list-style-type: none;id
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 1rem;
}

.listing-list a {
  text-decoration: none;
}

.listing {
  height: 200px;
  overflow: hidden;
}

.listing img {
  margin-right: 1rem;
}

.listing h3 {
  font-size: 2.5rem;
}

/* Animation */

.lava {
  background: linear-gradient(315deg, var(--accent), var(--bg));
  background-size: 400% 400%;
  animation: lava 30s ease infinite;
}

/* Make the background of the body fixed to the viewport for long pages  */
body.lava::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
  background: linear-gradient(315deg, var(--accent), var(--bg));
  background-size: 400% 400%;
  animation: lava 30s ease infinite;
}

@keyframes lava {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}
