/* General */
:root {
  --text: #FFFFFF;
  --bg: #121212;
  --bg-accent: #212121;
  --bg-light: #535353;
  --active: #1ED760;
  --inactive: #1DB954;
  --accent: #D71E95;
}

* {
  font-family: sans-serif;
}

html, body, main {
  height: 100%;
}

/* Header */
/* Nav */
nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  padding: 1% 3%;
  margin: 0%;
}

nav a {
  text-decoration: none;
  color: var(--text);
}

nav a:hover {
  color: var(--active);
}

.navlinks {
  display: flex;
  flex-wrap: nowrap;
  gap: 10%;
  font-family: inherit;
}

.navlinks a {
  white-space: nowrap;
}

/* Footer */

/* Animation */

.lava {
  background: linear-gradient(315deg, var(--accent), var(--bg));
  background-size: 400% 400%;
  animation: lava 30s ease infinite;
}

@keyframes lava {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}