#profile img {
    border-radius: 100%;
    border: 5px solid var(--inactive);
    background-color: var(--bg);
    justify-content: space-between;
    margin-right: 1rem;
}

#user-info {
    flex-direction: column;
}

#user-info h1 {
    align-self: flex-start;
    font-size: 5rem;
    padding: 0;
    margin: 0;
}

#account-type {
    font-size: 1rem;
    color: var(--text);
    border-radius: 50px;
    padding: 5px;
    background-color: var(--inactive);
    width: fit-content;
}

#account-type.lava {
  border: 2px solid var(--active);
  animation-duration: 5s;
}

.listing {
  transition: transform 0.2s ease, border-color 0.2s ease;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  padding: 0.5rem;
}

.listing:hover {
  transform: translateX(5px);
  border-color: var(--active);
}
