<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="" href="css/style.css">
    <title>Sortify</title>
</head>

<body>
    <%- include("./components/header") %>
        <main>
            <div id="prompt">
                <h1>Sortify</h1>
                <p>Sort your spotify playlist and tag your track's genres easily and quickly.</p>
                <button type="">Sign in with spotify</button>
            </div>
        </main>

        <!-- <%- include("./components/footer") %> -->
</body>

</html>